.about__container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}
.about{
    background-image: url(../img/we/back-we.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.about__title{
    display: flex;
    font-family: gagalinregular;
    font-size: 72px;
    color: #2f3234;
    text-transform: uppercase ;
    margin-top: 80px;
    text-align: center;
}

.about__icon{
    margin-bottom: 30px;
}
.about-list{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    padding: 0;
    align-items: baseline;

}
.about__item{
    list-style-type: none;
    margin-right: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 3;
}
.about__subtitle{
    font-family: lifehackmedium;
    font-size: 24.1px;
    color: #2f3234;
    width: 100%;
    display: block;
}
.about__description{
    font-family: 'Ubuntu Light', sans-serif;
    font-size: 14px;
    color: #2f3234;
    line-height: 1.5
}