.greeting{
    background-image: url(../img/background-home.jpg) ;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header__container{
    display: flex;
    align-items: center;
}
.logo{
    margin-top: 16px;
}
.nav{
    margin-left: auto;

}
.nav-list{

    display: flex;
    padding: 0;
    margin: 0;
}
.nav__item{
    list-style: none;
    position: relative;
    margin-left: 30px;

}
.nav__link{
    display: block;
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
    color: #ffffff;
    text-transform: uppercase ;
}
.nav__item::after{
    content: "";
    display: block;
    position: absolute;
    right: -15px;
    bottom: 5px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #fff;
}
.nav__item:last-child .nav__link{
    padding-right: 15px;
}
.nav__item:last-child::after{
    content: none;
}

.button{
}
.button-text{
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
    color: #ffffff;
    background-color: #e45028;
    border-radius: 4px;
    text-transform: uppercase;
    padding: 13px 16px;
}
.intro{
    margin-bottom: 90px;
    display: flex;
    margin-top: -7px;

}
.intro-img{
    margin-left: 15px;


}
.intro__text{
    display: flex;
    flex-direction: column;
    margin-top: 134px;
    margin-left: 11px;
}
.intro__text__top-line{
    font-family: gagalinregular;
    font-size: 72px;
    color: #f9b43b;
    margin-bottom: 10px;
    text-transform: uppercase ;

}
.intro__text__bottom-line{
    font-family: lifehackmedium;
    font-size: 65px;
    color: #ffffff;
    letter-spacing: -2px;
    line-height: 1;
}
.arrow{
    margin-bottom: 38px;

}
.points-scroll{
    position: fixed;
    right: 30px;
    top: 70px;
}
.points-scroll__list{
    list-style-type:none;
    margin:0;
    padding:0;

}
.points-scroll__item{
    position:relative;
    margin-bottom:15px;
    width:6px;
    height:6px;
}
.points-scroll__item:before{
    content:'';
    display:inline-block;
    width:6px;
    height:6px;
    background:white;
    border-radius:50%;
    position: absolute;
    left:5px;
    top:5px;
}
.points-scroll__item:after{
    content:'';
    display:inline-block;
    width:14px;
    height:14px;
    border:1px solid white;
    border-radius:50%;
    position: absolute;
    left:0;
    top:0;
    opacity:0;
}
.points-scroll__item:hover:after{
    opacity:1;
    cursor:pointer;
}