.contact{
  height: 100vh;
  min-height: rem(650px);
  background-image: url(../img/map.png);
  background-size: cover;
  position: relative;
}
.contact-futer{
  background-image: url(../img/futer.png);
  position: absolute;
  background-size: cover;
  bottom: 0;
  width: 100%;
  height: rem(60px);
  display: flex;
  align-items: center;
}
.contact-info{
  width: rem(940px);
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
}
.contact-info__information{
  display: flex;
  flex-direction: column;
}
.contact-info__adress{
  color: white;
  font-family: 'Ubuntu Light', sans-serif;
  font-size: rem(14px);
}
.contact-info__tel{
  color: #e45028;
  font-family: 'Ubuntu bold', sans-serif;
  font-size: rem(14px);
  font-weight: 800;

}