.reviews{
  height: 100vh;
  min-height: 650px;


}
.reviews-list{
  list-style-type:none;
  display: flex;
  height:100%;
  flex-wrap:wrap;
  margin:0;
  padding:0;
}
.reviews__item{
  flex:1 0 25%;
  height:50%;
  position: relative;
  background-size: cover;

}
.reviews__image{
  position: absolute;
  height: 100%;
  width: 100%;
  filter: grayscale(100%);
}
.reviews__picture{
  width: 100%;
  height: 100%;
  object-fit: cover;

}
.reviews__description{
  display: inline-block;
  position: absolute;
  left: 0;
  opacity: 0;
  width: 80%;
  padding: 50px 20px 20px 20px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: rgba(0,0,0,0.7);
  line-height: 2;
}

.reviews__name{
  font-family: gagalinregular;
  font-size: 14px;
  color: white;
}
.reviews__text{
  font-family: 'Ubuntu Light', sans-serif;
  font-size: 14px;
  color: #ffffff;
  margin: 30px 0;
  line-height: 20px;
}
.reviews__link{
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase ;
  background-color: #2f3234;
  border-radius: 5px;
  padding: 14px;
}
.reviews__description:hover{
  opacity:1;
  cursor:pointer;

}
.reviews__link:hover{
  background-color: #1f2122;
  cursor:pointer;
}