.team{
  height: 100vh;
  min-height: rem(650px);
  background-image: url(../img/team.png);
  background-size: cover;
  overflow: hidden;
  position: relative;
}
.container-team{
  position: absolute;
  background-color: #3e4042;
  right: 0;
  height: 100%;
  width: 50%;
  opacity: 0.9;
  @include tablet{
    width: 100%;
  }
  @include phone{
    width: 100%;
  }
}
.team__descriptions{
  display: flex;
  flex-direction: column;
  margin-left: rem(80px);
  @include tablet{
    margin: 0;
    align-items: center;
  }
  @include phone{
    margin: 0;
    align-items: center;
  }
}
.team__title{
  display: flex;
  align-content: center;
  margin: rem(85px) 0;
  @include tablet{

  }
  @include phone{
    margin: rem(60px) 0 rem(85px) 0;
  }
}
.team-list{
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  flex-direction: column;
}
.team__item{
  margin-bottom: rem(35px);
}
.team__name{
  color: #fff;
  display: flex;
  align-items: center;
  font-family: gagalinregular;
  font-size: rem(14px);
  @include tablet{
    font-size: rem(24px);
  }
  @include phone{
    font-size: rem(24px);
  }

  &:before {
    content: "";
    height: 0;
    width: 0;
    border: rem(6px) solid transparent;
    border-top-color: #f9b43b;
    border-bottom-width: 0;
    margin-right: rem(10px);

  }
}
.team__item_active {
  .team__name {
    color: #f9b43b;

    &:before {
      transform: rotate(-180deg);
    }
  }
  .team__content{
    height: auto;
    @include tablet{
      flex-direction: column;
      align-items: center;
    }
    @include phone{
      flex-direction: column;
      align-items: center;
    }
  }
}
.team__content{
  display: flex;
  width: rem(350px);
  margin-top: rem(15px);
  height: 0;
  overflow: hidden;
}
.team__avatar{
  background-image: url(../img/team/dan.jpg);
  height: rem(100px);
  min-width: rem(100px);
  border-radius: 50%;
  background-position: center center;
  background-size: cover;
  flex: 1;
  margin-left: rem(15px);
}
.team__text{
  margin-left: rem(20px);
  @include tablet{
    text-align: center;
  }
  @include phone{
    text-align: center;
  }
}
.team__text_title{
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-size: rem(14px);
  margin: 0;
  @include tablet{
    margin: rem(15px) 0;
  }
  @include phone{
    margin: rem(15px) 0;
  }
}
.team__text_description{
  color: white;
  font-family: 'Ubuntu Light', sans-serif;
  font-size: rem(14px);
  margin: rem(20px) 0 0 0;
  line-height: 1.6;
  @include tablet{
    margin: 0;
  }
  @include phone{
    margin: 0;
  }
}
